source https://nuget.org/api/v2

nuget FSharp.Core < 4.1
nuget Endorphin.Core
nuget Endorphin.IO.Reactive
nuget log4net
nuget FSharp.Control.Reactive

github WarwickEPR/Endorphin.Core src/Endorphin.Core.Reactive.fs

group Build
    source https://nuget.org/api/v2

    nuget SourceLink.Fake
    nuget FAKE
    nuget FSharp.Formatting

    github fsharp/FAKE modules/Octokit/Octokit.fsx

