source https://nuget.org/api/v2

nuget FSharp.Core redirects: force

nuget Endorphin.Core
nuget System.Reactive
nuget System.Reactive.Interfaces
nuget System.Reactive.Linq
nuget log4net

github WarwickEPR/Endorphin.Core src/Endorphin.Core.Reactive.fs

group Build
    source https://nuget.org/api/v2

    nuget SourceLink.Fake
    nuget FAKE
    nuget FSharp.Formatting

    github fsharp/FAKE modules/Octokit/Octokit.fsx

